/*
-------------------------------------------------------------------------------
Fonts
-------------------------------------------------------------------------------
*/

@font-face {
  font-weight: 400;
  font-family: 'Canto';
  font-style: normal;
  src: url('../fonts/Canto.woff2') format('woff2'),
    url('../fonts/Canto.woff') format('woff');
  font-display: swap;
}
