/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

:root {
  --dos: #597658;

  /* Fundamentals */
  --base-space: 24px;
  --page-width: 1680;
  --page-space: clamp(var(--base-space), 8.21vw + -1rem, 12.8rem);

  /* Element Sizes */
  --navigation-height: 56px;

  /* Fonts */
  --font-primary: graphik;
  --font-secondary: recoleta;
}
