/* Tailwind limitation means importing each file individually rather
* than using wildcards to reach multiple files and folders...
*/

/* => Tailwind */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* => File Imports */

@import "components/header.pcss";

@import "core/fonts.pcss";
@import "core/global.pcss";
@import "core/utils.pcss";
@import "core/variables.pcss";

@import "layout/row.pcss";
